* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    display: flex;
    
    justify-content: center;
    margin: 20px auto;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 100%;
  padding: 5px;
   font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}
.main-container {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}
.head-text {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 22px;
    
}
.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.wallet {
    font-size: 22px;
}
.save-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
   

}
#color-text {
    color: rgba(0, 0, 255, 0.884);
    font-weight: 630;
    
}
#color-text img {
    width: 35px;
}
.icon-div {
    border: 1px solid transparent;
    padding: 8px;
    border-radius: 17px;
    box-shadow: 2px 2px 7px gray;
    margin-bottom: 18px;

}
.icon-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-info img {
    width: 10%;
     border: 1px solid none;
     border-radius: 999px;
     padding: 2px;
     background-color:black ;
     
}
.left-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.eth-text {
    line-height: 25px;
}
.figure-section {
    border: 1px solid none;
    border-radius: 20px;
    padding: 10px;
    /* background-color: rgba(128, 128, 128, 0.151); */
    display: flex;
    justify-content: space-between;
    background-color: #aac142ab;
    margin-bottom: 17px;
}
.figure-section span {
    font-size: 25px;
    font-weight: 600;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aac142ab;
    padding: 10px;
    border-radius: 20px;
    width: 100%;
    margin-bottom: 18px;
    
    
}
#int-amount{
    outline: none;
    height: 40px;
    width: 200px;
    border: 1px solid transparent;
    font-size: 25px;
    font-weight: 600;
    padding: 10px;
    background-color: transparent;

}
.max-btn {
    display: flex;
    align-items: center;
    gap: 30px;
}
.max-btn button {
    padding: 7px;
    border-radius: 20px;
    border: none;
    background-color: #66666665;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.max-btn span {
    font-size: 25px;
    font-weight: 500;
}
.review {
    border: 1px solid transparent;
    border-radius: 20px;
    background-color: black;
    padding: 20px;
    color: white;
    align-items: center;
    justify-content: center;
   display: flex;
   gap: 7px;
   margin-bottom: 20px;
}
.review img {
    width: 10%;
    border: none;
    border-radius: 5px;
    
}
.review h2 {
    font-weight: 500;

}
.wrap {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 6px;
   margin-bottom: 20px;
}
.wrap-info {
font-size: 20px;

    img {
        width: 30px;
        
    }
    strong {
        align-items: center;
        display: flex;
        gap: 4px;
        img {
            background-color: black;
            padding: 2px;
            border-radius: 999px;
        }
        
    }
   
}
.clock-icon {
    border: none;
    outline: 2px solid black;
    padding: px;
    border-radius: 16px;
    img {
        width: 40px;
    }
}
.speed {
    display: flex;
    align-items: center;
    gap: 4px;
}
.filter-icon {
    border: 2px solid black;
    padding: 4px;
    border-radius: 999px;
    img {
        width: 30px;
    }

}
.speed-section {
    display: flex;
    align-items: center;
    gap: 10px;

}
.keypad-section {
     max-width: 420px;
     background-color: gainsboro;
    border-radius: 7px;
    padding: 5px;
    
}
.keypad {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  'Open Sans',  sans-serif;

    grid-template-rows: (4,80px);
    box-sizing: border-box;
    
    
    button {
        font-size: 25px;
        padding: 2px;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        font-weight: 600;

    }
    span {
        display: flex;
        justify-content: center;
    }
}

